:root{
    --primary:#C8E4B2;
    --secondary:#B9DBEC;
    --black_100:#3C4A51;
    --blanco:#F2F5F7;
    --black_75:#3C4A51BF;
    --black_50:#3C4A5180;
    --black_25:#3C4A5140;
    --black_15:#3C4A5126;
    --title_font_family:'Alumni Sans Inline One', cursive;
    --h1_font_family:'Chakra Petch', sans-serif;
    --p_font_family:'Varela Round', sans-serif;
    --fusion:linear-gradient(2deg, rgba(94, 195, 15, 0.05) 60%, rgba(38, 151, 207, 0.15) 60%);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 100vw; */
    /* background-color: green; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background: var(--blanco);
}
h1{
    font-family: var(--h1_font_family);
    font-size: 39.06px;
    color: var(--black_100);
}
h2{
    font-family: var(--h1_font_family);
    font-size:31.25px;
    color: var(--black_100);
}
h3{
    font-family: var(--h1_font_family);
    font-size:25px ;
    color: var(--black_100);
}
h4{
    font-family: var(--h1_font_family);
    font-size:20px;
    color: var(--black_100);
}
h5{
    font-family: var(--h1_font_family);
    font-size:14 px ;
    color: var(--black_100);
}
p{
    font-family: var(--p_font_family);
    font-size: 28px;
    color: var(--black_100);
}
.btn{
    color: var(--black_100);
    background-color: var(--blanco);
    border-radius: 16px;
    border: solid 8px var(--black_100);
    width: 264px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    text-decoration: none;
}
.btn:hover{
    background: var(--fusion);
    cursor: pointer;
    border-radius: 16px;
    border: solid 8px var(--black_100);
}
.btn:active, .btn:active h2{
    background: var(--black_100);
    border:solid 8px var(--blanco);
    color: var(--blanco);
}

 




  /* ---------------------------phone phone phone -------------------------- */

  @media screen and (max-width: 880px) {
    :root{
        --primary:#C8E4B2;
        --secondary:#B9DBEC;
        --black_100:#3C4A51;
        --blanco:#F2F5F7;
        --black_75:#3C4A51BF;
        --black_50:#3C4A5180;
        --black_25:#3C4A5140;
        --black_15:#3C4A5126;
        --title_font_family:'Alumni Sans Inline One', cursive;
        --h1_font_family:'Chakra Petch', sans-serif;
        --p_font_family:'Varela Round', sans-serif;
        --fusion:linear-gradient(2deg, rgba(94, 195, 15, 0.05) 60%, rgba(38, 151, 207, 0.15) 60%);
        --fusion_1:linear-gradient(82deg, rgba(94, 195, 15, 0.15) 0%, rgba(38, 151, 207, 0.15) 100%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* background-color: green; */
        margin: 0;
        padding: 0;
   
    }
    body{
        background: var(--blanco);
    }
    h1{
        font-family: var(--h1_font_family);
        font-size: 29.06px;
        color: var(--black_100);
    }
    h2{
        font-family: var(--h1_font_family);
        font-size:21.25px;
        color: var(--black_100);
    }
    h3{
        font-family: var(--h1_font_family);
        font-size:15px ;
        color: var(--black_100);
    }
    h4{
        font-family: var(--h1_font_family);
        font-size:10px;
        color: var(--black_100);
    }
    h5{
        font-family: var(--h1_font_family);
        font-size:6 px ;
        color: var(--black_100);
    }
    p{
        font-family: var(--p_font_family);
        font-size: 20px;
        color: var(--black_100);
    }
    .btn{
        color: var(--black_100);
        background-color: var(--blanco);
        border-radius: 16px;
        border: solid 4px var(--black_100);
        width: 152px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-shrink: 0;
        text-decoration: none;

    }
    .btn:hover{
        background: var(--fusion);
        cursor: pointer;
        border-radius: 16px;
        border: solid 4px var(--black_100);
    }
    .btn:active, .btn:active h2, .btn:active h1{
        background: var(--black_100);
        border:solid 4px var(--blanco);
        color: var(--blanco);
    }

    


  
  }
  #app{
    height: 97vh;
    width: 99vw;
  }


  /* ------------------------------------------------------------dark mod */

  .dark_mode{
    color: var(--black_100);
    position: absolute;
    top: 0;
    left: 88px;
    cursor: pointer;
  }
  #moon{
    display: none;
  }

